.vs\*
ServiceLigueHockey\bin
ServiceLigueHockey\bin\*
.vs/ServiceLigueHockey/v16/TestStore/0/testlog.manifest
.vs/ServiceLigueHockey/v16/TestStore/0/000.testlog
.vs/ServiceLigueHockey/v16/.suo
.vs/ServiceLigueHockey/DesignTimeBuild/.dtbcache.v2
.vs/ServiceLigueHockey/config/debuggerConfiguration-f89980e4-d45a-4449-ab52-547a5057f1af.json
.vs/ServiceLigueHockey/config/applicationhost.config
ServiceLigueHockey/bin/Debug/net5.0/*
ServiceLigueHockey/obj/*
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.csprojAssemblyReference.cache
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.csprojAssemblyReference.cache
