.vs\*
ServiceLigueHockey\bin
ServiceLigueHockey\bin\*
.vs/ServiceLigueHockey/v16/TestStore/0/testlog.manifest
.vs/ServiceLigueHockey/v16/TestStore/0/000.testlog
.vs/ServiceLigueHockey/v16/.suo
.vs/ServiceLigueHockey/DesignTimeBuild/.dtbcache.v2
.vs/ServiceLigueHockey/config/debuggerConfiguration-f89980e4-d45a-4449-ab52-547a5057f1af.json
.vs/ServiceLigueHockey/config/applicationhost.config
ServiceLigueHockey/bin/Debug/net5.0/appsettings.Development.json
ServiceLigueHockey/bin/Debug/net5.0/appsettings.json
ServiceLigueHockey/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
ServiceLigueHockey/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/Humanizer.dll
ServiceLigueHockey/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.Identity.Client.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.OpenApi.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
ServiceLigueHockey/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
ServiceLigueHockey/bin/Debug/net5.0/Newtonsoft.Json.dll
ServiceLigueHockey/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ref/ServiceLigueHockey.dll
ServiceLigueHockey/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
ServiceLigueHockey/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
ServiceLigueHockey/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
ServiceLigueHockey/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
ServiceLigueHockey/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
ServiceLigueHockey/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
ServiceLigueHockey/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
ServiceLigueHockey/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
ServiceLigueHockey/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
ServiceLigueHockey/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
ServiceLigueHockey/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ServiceLigueHockey/bin/Debug/net5.0/ServiceLigueHockey.deps.json
ServiceLigueHockey/bin/Debug/net5.0/ServiceLigueHockey.dll
ServiceLigueHockey/bin/Debug/net5.0/ServiceLigueHockey.exe
ServiceLigueHockey/bin/Debug/net5.0/ServiceLigueHockey.pdb
ServiceLigueHockey/bin/Debug/net5.0/ServiceLigueHockey.runtimeconfig.dev.json
ServiceLigueHockey/bin/Debug/net5.0/ServiceLigueHockey.runtimeconfig.json
ServiceLigueHockey/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
ServiceLigueHockey/bin/Debug/net5.0/SQLitePCLRaw.core.dll
ServiceLigueHockey/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
ServiceLigueHockey/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
ServiceLigueHockey/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
ServiceLigueHockey/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ServiceLigueHockey/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ServiceLigueHockey/bin/Debug/net5.0/System.Composition.AttributedModel.dll
ServiceLigueHockey/bin/Debug/net5.0/System.Composition.Convention.dll
ServiceLigueHockey/bin/Debug/net5.0/System.Composition.Hosting.dll
ServiceLigueHockey/bin/Debug/net5.0/System.Composition.Runtime.dll
ServiceLigueHockey/bin/Debug/net5.0/System.Composition.TypedParts.dll
ServiceLigueHockey/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
ServiceLigueHockey/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
ServiceLigueHockey/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
ServiceLigueHockey/bin/Debug/net5.0/System.Runtime.Caching.dll
ServiceLigueHockey/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
ServiceLigueHockey/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/web.config
ServiceLigueHockey/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
ServiceLigueHockey/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
ServiceLigueHockey/obj/Debug/net5.0/apphost.exe
ServiceLigueHockey/obj/Debug/net5.0/ref/ServiceLigueHockey.dll
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.assets.cache
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.csproj.CopyComplete
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.csproj.CoreCompileInputs.cache
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.csproj.FileListAbsolute.txt
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.csprojAssemblyReference.cache
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.dll
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.genruntimeconfig.cache
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.MvcApplicationPartsAssemblyInfo.cache
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.MvcApplicationPartsAssemblyInfo.cs
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.pdb
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.RazorTargetAssemblyInfo.cache
ServiceLigueHockey/obj/Debug/net5.0/staticwebassets/ServiceLigueHockey.StaticWebAssets.Manifest.cache
ServiceLigueHockey/obj/Debug/net5.0/staticwebassets/ServiceLigueHockey.StaticWebAssets.xml
ServiceLigueHockey/obj/project.assets.json
ServiceLigueHockey/obj/project.nuget.cache
ServiceLigueHockey/obj/ServiceLigueHockey.csproj.nuget.dgspec.json
ServiceLigueHockey/obj/ServiceLigueHockey.csproj.nuget.g.props
ServiceLigueHockey/obj/ServiceLigueHockey.csproj.nuget.g.targets
