
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.csprojAssemblyReference.cache
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.csprojAssemblyReference.cache
.vs/ServiceLigueHockey/config/debuggerConfiguration-8f7f0276-a8ea-47a0-9bea-b594967d5e36.json
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.csprojAssemblyReference.cache
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.AssemblyInfoInputs.cache
ServiceLigueHockey/obj/Debug/net5.0/ServiceLigueHockey.AssemblyInfo.cs
